<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

<div style="background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

    <h2 style="color: #333333; text-align: center;">Ubah Password </h2>

    <p style="color: #666666;">Dear {USER},</p>

    <p style="color: #666666;">Berikut link untuk mengubah password :</p>

    <div style="background-color: #e9e9e9; padding: 15px; text-align: center; font-size: 24px; border-radius: 5px; margin: 20px 0;">
        <a href="{LINK}">Link Lupa Password</a>
    </div>

    <p style="color: #666666;">Best regards,<br>Team</p>

</div>

</body>
</html>
